body {
  color: #40514E;
  margin-top: 8px;
  margin-left: 16px;
  margin-right: 8px;
  margin-bottom: 20px;
  background-color: #FDEFF4; 

  /* or FAF3F3 */
}

h1,h3 {
  color: #E9A6A6;

  /* or F29191 */
} 

hr {
border-style: none;
border-top-style: dotted;
border-color: LightGrey;
border-width: 5px;
width: 5%
}

img {
  height: 164px;
}
