body {
  background-color: #FAF3F3;
}
h1 {
  color: #F29191;
}
h3 {
  color: #F29191;
}

hr {
border-style: none;
border-top-style: dotted;
border-color: LightGrey;
border-width: 5px;
width: 5%

}

img {
  height: 164px;
}
